SPRING_PROFILES_ACTIVE=demo

POSTGRES_DB=oriontek
POSTGRES_USER=oriontek
POSTGRES_PASSWORD=oriontek
POSTGRES_PORT=5432

SERVER_PORT=8080

JWT_SECRET=change-me-in-production-this-is-a-demo-secret-key-min-256-bits-long
JWT_ACCESS_EXPIRATION=900
JWT_REFRESH_EXPIRATION=604800

CORS_ALLOWED_ORIGINS=*
