SPRING_PROFILES_ACTIVE=demo

POSTGRES_DB=oriontek
POSTGRES_USER=oriontek
POSTGRES_PASSWORD=oriontek
POSTGRES_PORT=5432

SERVER_PORT=8080

# Genera una clave propia con: openssl rand -hex 32
JWT_SECRET=24a61e89554be20ad9ee8eb5cd47d79be2fb32c6821a23de1700a22c9f216489
JWT_ACCESS_EXPIRATION=900
JWT_REFRESH_EXPIRATION=604800

CORS_ALLOWED_ORIGINS=*
